<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/home.css">

</head>
<body background="a.jpg" >
<h1 align="center">Sea Battle</h1>
<div align="center">
    <button class="button" style="vertical-align:middle"><span>Войти</span></button>
    <button class="button" style="vertical-align:middle" onclick="window.location.href='/register_now'"><span>Зарегистрироваться</span></button>
    <button class="button" style="vertical-align:middle" onclick="window.location.href='/game'"><span>Играть</span></button>
</div>


</body>
<script type="text/javascript" src="js/script.js"></script>
</html>